.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}
.header__logo-image {
  width: 138px;
  height: 106px;
}
.header__links-list {
  display: flex;

  justify-content: start;
  list-style: circle;
  gap: 32px;
}
.header__links-list-item {
  font-weight: normal;
  font-size: 18px;
}
.header__link_active, .footer__menu-link_active {
  text-decoration: none;
  list-style: none;
}
.address {
  max-width: 240px;
  width: 100%;
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
}

.address_street {
  text-decoration: none;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.cover__title {
  position: relative;
  padding-bottom: 85px;
  z-index: 2;
}
.aligned-text {
  display: block;
  height: 149px;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  padding: 0 50px 106px;
}
.aligned-text_left {
  padding-top: 165px;
}
.aligned-text_center {
  text-align: center;
  padding: 28px 0 0 31px;
}
.aligned-text_right {
  padding: 14px 0 0 664px;
}
.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px;
  z-index: 2;
}
.cover__description-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 19px;
}
.bet-button {
  background: transparent;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 1px solid currentColor;
  width: 256px;
  height: 51px;
}

.lots {
  margin: 180px 24px 151px;
}
.lots__heading {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding: 0 0 28px 40px;
}
.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}
.lots__card-list-item {
  min-width: 334px;
  min-height: 334px;
}
.card-link,
.card {
  height: 100%;
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 567px;
  position: relative;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center center;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card__title {
  position: relative;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  padding: 48px 40px 0;
  z-index: 2;
}
.card__text {
  position: relative;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  text-decoration: none;
  padding: 0 40px 48px;
  z-index: 2;
}
.article {
  position: relative;
}
.lots__look-more-link {
  display: inline-block;
  padding: 30px 0 0 40px;
  font-size: 20px;
  font-weight: normal;
}

.about {
  padding-bottom: 13px;
  min-height: 595px;
}
.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
}
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background: #000;
  margin: 3px 0 0 71px;
}
.about__logo-image {
  width: 149px;
  height: 114px;
}
.about__text {
  padding: 105px 27px 0 49px;
}
.about__title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 101px;
}
.about__text-paragraph {
  font-size: 20px;
  line-height: 120%;
}
.about__text-paragraph-intro {
  padding-bottom: 23px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 50px 82px;
  margin-top: 148px;
  gap: 100px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
.footer__social-link {
  list-style: none;
}
.footer__social-list,
.footer__menu-list {
  list-style: none;
}
.footer__menu {
  text-align: center;
  padding-bottom: 30px;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding: 0 0 43px 27px;
}
.footer__menu-link {
  font-size: 18px;
}
.address_footer {
  max-width: 267px;
  word-wrap: break-word;
}
